html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: conic-gradient(from 141.71deg at 50% 50%, rgba(145, 147, 197, 0.53125) -58.12deg, rgba(14, 21, 190, 0.63) 48.77deg, rgba(187, 11, 148, 0.64) 127.5deg, rgba(109, 14, 184, 0.67) 210deg, rgba(145, 147, 197, 0.53125) 301.88deg, rgba(14, 21, 190, 0.63) 408.77deg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.next-container {
  background: rgba(219, 219, 219, 0.6);
}


@media screen and (min-width: 360px) {
  main.main-container {
    min-height: 100vh;
  }
}
